* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh !important;
  background-color: rgba(0, 0, 0, .1);
}


.nav-item a {
  color: #D90368;
}
 .nav-link:hover {
  background-color: #D90368 !important;
  color: white !important;
}
.active {
  --bs-nav-pills-link-active-bg: #D90368 !important;
  color: white !important;
}

/*#F2F2F2*/

.btn-outline-event {
  --bs-btn-color: #D90368;
  border-color: #D90368;
}
.btn-outline-event:hover {
  color: white !important;
  background-color:  #D90368 !important;
}

.text-small {
  font-size: 85%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
